@model FilmApp.Models.Film

@{
    ViewData["Title"] = "Delete";
}


<h3 style="color:white">Вы уверены что хотите удалить данный фильм?</h3>
<div class="flex" style="background-color:#ffffff;height:100%">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CountOfSeries)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CountOfSeries)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Img)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Img)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Treiler)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Treiler)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Director)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Director)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                <a asp-action="Index" asp-controller="Home">В главное меню</a>
            </form>
    </div>
</div>
